<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Dianaify, <%= @user.email %></h1>
    <p>
      You have successfully signed up!
    </p>
  </body>
</html>
